@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(//fonts.googleapis.com/css?family=Volkhov:400italic);

body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Crimson Text", YuMincho, 游明朝, "Hiragino Mincho ProN", hannari, Meiryo, serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Roboto', sans-serif; */
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
.section-title p {
  /* font-family: 'Volkhov', serif; */
  font-style: italic;
  color: #666;
}
/*--
	Header Start
--*/
header {
  background: #fff;
  padding: 20px 0;
}
header .navbar {
  margin-bottom: 0px;
  border: 0px;
}
header .navbar-brand {
  padding-top: 5px;
}
header .navbar-default {
  background: none;
  border: 0px;
}
header .navbar-default .navbar-nav {
  padding-top: 10px;
}
header .navbar-default .navbar-nav li a {
  color: #333333;
  padding: 10px 26px;
  font-size: 15px;
}
font header .navbar-default .navbar-nav li a:hover {
  color: #000;
}

@media only screen and (max-width: 499px)  {
  .image_heading {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0;
    margin-top: 0;
    text-transform: capitalize;
  }

  .global-header .block {
    padding-left: 0px !important;
  }
}

@media only screen and (min-width: 500px)  {
  .image_heading {
    font-weight: 100;
    font-size: 45px;
    letter-spacing: 6px;
    padding-bottom: 15px;
    margin-top: 0;
    text-transform: capitalize;
  }
}
/***************
**** INDEX *****
****************/
#intro {
  padding: 50px 0;
}
#intro .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
#intro .block p {
  color: #7B7B7B;
  padding-top: 20px;
}
#intro .block img {
  /* padding-left: 40px; */
  /* width: 100%; */
}
#intro .section-title {
  margin-bottom: 0px;
}
#intro .section-title p {
  padding-top: 20px;
}


/********************
**** STRELITZIA *****
*********************/
#strelitziaSection {
  text-align: center;
  padding: 40px 0;
}
.StrelitziaHeading {
  font-size: larger;
  font-weight: bolder;
}
.StrelitziaText {
  font-size: large;
}
#StrelitziaOsusume {
  border: 2px #302d3c solid;
  margin: 50px 0 0 -10px;
  padding: 10px;
}

@media only screen and (max-width: 499px)  {
  .strelitzia_service {
    padding-left: 5%; 
    padding-right: 5%; 
    text-align: left; 
    font-size: 14px;
  }
}
@media only screen and (min-width: 500px)  {
  .strelitzia_service {
    padding-left: 20%; 
    padding-right: 20%; 
    text-align: left; 
    font-size: 16px;
  }
}

.nagare_header {
  text-align: center;
  margin-top: -10px;
  font-weight: bold;
  font-size: 17px;
}

.nagare {
  border-top:  2px solid #ef3c5d;
  border-bottom: 1px solid #ef3c5d;
  margin: 14px 0 14px 0;
  padding: 5px;
  font-weight: bold;
}

/****************
**** CRAYON *****
*****************/
@media only screen and (max-width: 499px)  {
  #crayon_service_about {
    padding-left: 5%; 
    padding-right: 5%; 
    text-align: left; 
    font-size: 14px;
  }
  #crayon_service_price {
    padding: 0 20px 0 20px;
  }
  #crayon_costDetails {
    display: none;
  }
}
@media only screen and (min-width: 500px)  {
  #crayon_service_about {
    padding-left: 30%; 
    padding-right: 30%; 
    text-align: left;
    margin-top:10px;
    font-size: 16px;
  }
  #crayon_costDetails_mobile {
    display: none;
  }
}

#crayon_logo {
  width: 60%; 
  float: right;
}

.crayon_cost {
  border-radius: 15px;
  border: 3px solid #ffd966;
  margin: auto;
}

#crayon_costHeader {  
  padding: 20px;
  width: 130px;
}

#crayon_costDetails {
  padding: 0 20px 20px 20px;
  width: 525px;
}

#crayon_redPlus {
  color:red; 
  margin-top: -5px;
}

#crayon_costDetails_Header {
  color: red; 
  text-align: center;
}

#crayon_costDetails_Left {
  border-right: 3px solid #ffd966; 
  padding-right:20px;
}

#crayon_costDetails_Right {
  padding-left:20px;
}

#crayon_costDetails_mobileHeader {
  color: red;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*******************
**** CHURABANA *****
********************/
#service {
  text-align: center;
  padding: 20px 0;
}
#service .service-item {
  padding-bottom: 30px;
}
#service .service-item i {
  font-size: 60px;
  color: #4A4656;
}
#service .service-item h4 {
  padding-top: 20px;
  margin: 0;
  color: #666;
}
#service .service-item p {
  color: #888;
  padding-top: 10px;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
}

@media only screen and (max-width: 499px)  {
  #churabana_title_mobile {
    font-size:large; 
    font-weight:bolder; 
    padding-left:5%; 
    padding-right:5%; 
    margin-bottom:35px; 
    text-align:center;
  }
  #churabana_content {
    font-size: 14px; 
    padding-left: 5%; 
    padding-right: 5%; 
    text-align: left;
  }
  #churabana_title {
    display: none;
  }
}
@media only screen and (min-width: 500px)  {
  #churabana_title {
    font-size:x-large; 
    font-weight:bolder; 
    padding-left:5%; 
    padding-right:5%; 
    margin-bottom:15px; 
    margin-top:10px;
    text-align:center;
  }
  #churabana_content {
    font-size: 16px; 
    padding-left: 22%; 
    padding-right: 22%; 
    text-align: left;
  }
  #churabana_title_mobile {
    display: none;
  }
}

/**************
**** BLOG *****
***************/
#intro {
  padding: 10px 0;
}

div.post-area a:hover {
  color:#afabc2;
}

/*****************
**** CONTACT *****
******************/
#contact-form .block form .form-group {
  padding-bottom: 15px;
  margin: 0px;
}
#contact-form .block form .form-group .form-control {
  background: #F6F8FA;
  height: 60px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}
#contact-form .block form .form-group-2 {
  padding-bottom: 15px;
  margin: 0px;
}
#contact-form .block form .form-group-2 textarea {
  background: #F6F8FA;
  height: 135px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}
#contact-form .block button {
  width: 100%;
  height: 60px;
  background: #47424C;
  border: none;
  color: #fff;
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 18px;
}
/*--
	wrapper-contact Start
--*/
.address-block li {
  margin-bottom: 20px;
}
.address-block li i {
  margin-right: 15px;
  font-size: 20px;
  width: 20px;
}
.google-map {
  position: relative;
}
.google-map #map {
  width: 100%;
  height: 300px;
  background-color: #ff432e;
}
#contact-box {
  padding-top: 35px;
  padding-bottom: 58px;
}
#contact-box .block img {
  width: 100%;
}
#contact-box .block h2 {
  /* font-family: 'Open Sans', sans-serif; */
  font-weight: 300;
  color: #000;
  font-size: 28px;
  padding-bottom: 30px;
}
#contact-box .block p {
  color: #5C5C5C;
  display: block;
}

/***********************
**** IMAGE HEADERS *****
************************/
#contact-header {
  background: url("../img/contact-banner.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
  background-attachment: fixed;
}

#churabana-header {
  background: url("../img/churabana-banner.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
  background-attachment: fixed;
}
#strelitzia-header {
  background: url("../img/strelitzia-banner.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
  background-attachment: fixed;
}
#crayon-header {
  background: url("../img/crayon-banner.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
  background-attachment: fixed;
}
#blog-header {
  background: url("../img/blog-banner.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
  background-attachment: fixed;
}
.global-header {
  background: url("../img/slider-bg.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
  background-attachment: fixed;
}
.global-header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #928dab, #1f1c2c 70%);
  opacity: 0.8;
}
.global-header .block {
  color: #E3E3E4;
  margin: 0 auto;
  padding-left: 90px;
  text-align: center;
}
.global-header .block h1 {
  font-weight: 100;
  font-size: 45px;
  letter-spacing: 6px;
  padding-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
}
.global-header .block p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}

/*--
	portfolio-work Start
--*/
#portfolio-work {
  overflow: hidden;
}
#portfolio-work .block .portfolio-menu {
  padding-bottom: 30px;
  text-align: center;
}
#portfolio-work .block .portfolio-menu ul {
  border: 1px solid #999999;
  display: inline-block;
  margin-bottom: 40px;
}
#portfolio-work .block .portfolio-menu ul li {
  display: inline-block;
  padding: 0px 25px;
  cursor: pointer;
  font-size: 15px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  text-transform: capitalize;
  position: relative;
}
#portfolio-work .block .portfolio-menu ul .active {
  color: #655E7A;
  position: relative;
}
#portfolio-work .block .portfolio-menu ul .active:before {
  content: "\f0d7";
  position: absolute;
  font-family: 'FontAwesome';
  bottom: -18px;
  font-size: 30px;
  width: 20px;
  left: 0px;
  right: 0px;
  top: 23px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#portfolio-work .block .portfolio-menu ul li:hover:before {
  content: "\f0d7";
  position: absolute;
  font-family: 'FontAwesome';
  bottom: -18px;
  font-size: 30px;
  width: 20px;
  left: 0px;
  right: 0px;
  top: 23px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#portfolio-work .block .portfolio-contant {
  float: left;
  width: 32.22%;
  overflow: hidden;
  margin: 6px;
  position: relative;
}
#portfolio-work .block .portfolio-contant ul li {
  float: left;
  width: 32.22%;
  overflow: hidden;
  margin: 6px;
  position: relative;
}
#portfolio-work .block .portfolio-contant ul li:hover .overly {
  opacity: 1;
}
#portfolio-work .block .portfolio-contant ul li:hover .position-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
#portfolio-work .block .portfolio-contant ul li a {
  display: block;
  color: #fff;
}
#portfolio-work .block .portfolio-contant ul li a h2 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#portfolio-work .block .portfolio-contant ul li a p {
  font-size: 15px;
}
#portfolio-work .block .portfolio-contant ul li a span {
  font-style: italic;
  font-size: 13px;
  color: #655E7A;
}
#portfolio-work .block .portfolio-contant ul img {
  width: 100%;
  height: auto;
}
#portfolio-work .block .portfolio-contant .overly {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  text-align: center;
}
#portfolio-work .block .portfolio-contant .position-center {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(0%, 50%);
  -moz-transform: translate(0%, 50%);
  -ms-transform: translate(0%, 50%);
  transform: translate(0%, 50%);
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
#portfolio-work .block .mix {
  display: none;
}

/*--------- Heading------------*/
.heading {
  padding-bottom: 60px;
  text-align: center;
}
.heading h2 {
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}
/*---------------------------*/
/*--
	footer Start
--*/
footer {
  background: #F5F5F5;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 35px;
}
footer p {
  font-size: 13px;
  line-height: 25px;
  color: #919191;
}
footer a {
  color: #595959;
}
footer .footer-manu {
  padding-bottom: 25px;
}
footer .footer-manu ul {
  margin: 0px;
  padding: 0px;
}
footer .footer-manu ul li {
  display: inline-block;
  padding: 0px 20px;
}
footer .footer-manu ul li a {
  display: inline-block;
  color: #494949;
}
footer .footer-manu ul li a:hover {
  color: #000;
}
 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

.post-area {
  padding: 40px;
  width: 100%;
  min-height: 150px;
  background-color: white;
  border-bottom: 1px dotted #ddd;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}

@media screen and (max-width: 499px) {
  #footer_address {
    font-size: 11px;
    margin-top:  -10px;
  }
}
@media screen and (min-width: 500px) {
  #footer_address {
    font-size: 13px;
    margin-top:  -10px;
  }
}
