<!-- Churabana Start -->
<div id="churabana_title_mobile">フラワーアレンジメント・<br>プリザーブドフラワーの教室<br></div>
<div id="churabana_title"><span>🌼 フラワーアレンジメント・プリザーブドフラワーの教室 🌼</span><br></div>

<div id="churabana_content">
  <div><img class="collapse navbar-collapse" style="float:right;" src="/img/churabana_bouquet.png" /></div>  
  <div class="StrelitziaHeading">生徒募集中</div>
  <div class="StrelitziaHeading">毎週金曜日</div>
  <div class="StrelitziaText" style="margin: 30px 0 30px 0;">
       ① 14:00～16:00<br>
       ② 19:00～21:00<br>
       サークル費￥600　花材費￥2,900
  </div>
  <div class="StrelitziaText" style="margin: 30px 0 30px 0;">
      ※上記①②のいずれか２時間の教室です。<br>
      ※火曜日までの事前申し込みが必要となります。
  </div>
    <div class="StrelitziaText">❁講師指導のもと、和やかな雰囲気でお花を楽しみますので、初心者でも安心してご参加いただけます。お気軽にお問い合わせください。<br></div>
    <br>							
</div>
