<!-- Churabana Start -->
<div id="churabana_title_mobile">フラワーアレンジメント・<br>プリザーブドフラワーの教室<br></div>
<div id="churabana_title"><span>🌼 フラワーアレンジメント・プリザーブドフラワーの教室 🌼</span><br></div>

<div id="churabana_content">
  <div class="StrelitziaText">❁和やかな雰囲気で、初心者でも気軽に受講できます。<br></div>
  <br>
  <div class="StrelitziaText" style="
  color: indianred;
  font-size: x-large;
  font-weight: bold;
">初回体験1時間半⋯￥3,500（税込）<br></div>
  <div class="StrelitziaText">（花代込みでお得！）</div>
  <br>
  <div><img class="collapse navbar-collapse" style="float:right;" src="/img/churabana_bouquet.png" /></div>  
  <div class="StrelitziaHeading">教室時間：毎週木曜日</div>
  <div class="StrelitziaText" style="margin: 30px 0 30px 0;">
       ①　１０時～１１時３０分<br>
       ②　１４時～１５時３０分<br>
       ③　１９時～２０時３０分<br>
       1レッスン1.5時間<br><br>
       <b>レッスン代</b><br>
       単発1.5時間レッスン⋯￥4,500（税込）<br>
       月謝（月4回）⋯￥4,000（税込）<br>
       ※月謝生様はレッスン参加毎に花材代￥3,000（税込）
  </div>
</div>
