<div class="col-md-6 col-sm-12">
    <div class="block">
        <h2>お問い合わせ</h2>
        <ul class="address-block">
        <li>
            <i class="fa fa-map-marker"></i>〒905-0019　沖縄県 名護市 大北 5-19-9<br/>
        </li>
        <li>
            <i class="fa fa-calendar-o"></i>営業時間： 10:00 ~ 18:00
        </li>
        <li>
            <i class="fa fa-phone"></i>ＴＥＬ　：０９０ー６８５８ー４３３３<br/><span style="margin-left: 35px;">※お電話が取れない場合は、折り返し致します。</span>
        </li>
        </ul>
    </div>
<img src="/img/contact-img.jpg">
</div>
