<!-- Crayon Start -->
<div id="CrayonContent">
    <div class="StrelitziaText" style="
    color: indianred;
    font-size: x-large;
    font-weight: bold;
  ">初回体験1時間無料<br></div>
    <br>
    <div class="StrelitziaHeading">教室時間：毎週月曜日</div>
    <div class="StrelitziaText" style="margin: 30px 0 30px 0;">
         ①　１０時～１２時<br>
         ②　１４時～１６時<br>
         ③　１９時～２１時<br>
         1レッスン1時間<br><br>
         <b>レッスン代</b><br>
         単発1時間レッスン⋯￥1,500（税込）<br>
         回数チケット：8回分￥9,680（税込）<br>
         （1時間￥1,210になってお得です。）<br>
         ※洋裁教室は入会金￥10,000（税込）<br>
    </div>
</div>