<!-- Crayon Start -->
<div id="CrayonContent" style="font-size: 16px;">
    <div style="padding-left: 30%; padding-right: 30%; margin-top:10px; text-align: left;">
        <div><img class="collapse navbar-collapse" style="width:60%; float:right;" src="/img/crayon_logo.png" /></div>
        <div class="StrelitziaHeading">✾婦人服の仕立て<br>
            ✾洋服のお直し<br>
            ✾リメイク</div><br>
        <div class="StrelitziaText">※生地の素材やデザイン、注文の内容により料金が異なりますので、一度お気軽にお問い合わせください。<br>
        ※女性のお客様からのご注文に限ります。<br></div>
        <br>
        <div class="StrelitziaHeading">✾洋裁教室生徒募集</div>
        <div class="StrelitziaText">講師指導のもと、作りたい洋服を作る教室です。リメイク・お直しもお教えいたします。<br></div>
        <br>
        <div class="StrelitziaHeading">毎週木曜日 （事前予約をいただきます。）</div>
        <div class="StrelitziaText">①10:00～13:00 　 ②14:00～17:00 　 ③19:00～21:00</div>
        <br>
        <h4><u>洋裁教室料金</u></h4>
    </div>
    <div>
        <div style="
            border-radius: 15px;
            border: 3px solid #ffd966;
            padding: 20px;
            width: 130px;
            margin: auto;
        ">
            <h4>入会金<br>
            ￥10,000</h4>
        </div>
        <div style="color:red; margin-top: -5px;"><h2>+</h2></div>
        <div style="
            border-radius: 15px;
            border: 3px solid #ffd966;
            padding: 0 20px 20px 20px;
            width: 525px;
            margin: auto;
        ">
            <table>
                <tr>
                    <td colspan="2" style="color: red; text-align: center;"><h4>月謝制、またはチケット制をお選びいただけます</h4></td>
                </tr>
                <tr>
                    <td width="35%" valign="top" style="border-right: 3px solid #ffd966; padding-right:20px;">
                        <b>月謝制：￥6,500</b><br>
                        １回2時間（月4回）<br>
                        第５木曜は休講
                    </td>
                    <td valign="top" style="padding-left:20px;">
                        <b>チケット制：￥8,000</b><br>
                        １回１時間×８回（有効期限３ヶ月）<br>
                        第５木曜の休講なし<br>
                        2時間受講の場合は2回分をご利用いただきます
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
</div>