<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
              <li><a href="{{ site.baseurl }}/">当工房について</a></li>
              <li><a href="{{ site.baseurl }}/strelitzia">ストレリチア</a></li>
              <li><a href="{{ site.baseurl }}/crayon">ソーイングルーム くれよん</a></li>
              <li><a href="{{ site.baseurl }}/churabana">お花の教室 美ら花</a></li>
              <li><a href="{{ site.baseurl }}/blog">ブログ</a></li>
              <li><a href="{{ site.baseurl }}/contact">お問い合わせ</a></li>
            </ul>
        </div>
        <div id="footer_address">
        〒905-0015　沖縄県　名護市大南　1-10-18　比嘉ビル205
        </div>
      </div>
    </div>
  </div>
</footer>
