<div class="about-text" style="font-size:16px; line-height:1.8;">
  <ul style="padding-left:1.2em; margin-bottom:1.5em;">
    <li>洋裁教室と</li>
    <li>お花の教室（フラワーアレンジメント・プリザーブドフラワー）</li>
    <li>を運営しております。</li>
  </ul>
  <p>長年培ってきた洋裁経験と、10年以上のフラワーアレンジメント講師の経験をいかし、ストレリチアを営業してまいりました。人生１００年時代といわれているこのご時世で、豊かに生きるお手伝いができればと思います。</p>
  <hr style="margin:2em 0;">
  <div style="margin-bottom:1em; font-size:1.5em; font-weight:bold;">
    講師　崎浜京子<br>KYOKO SAKIHAMA
  </div>
  <div style="margin-bottom:1em;">
    <span>認知機能向上フラワーアレンジメント<br>指導者養成講座講師<br>（脳トレアドバイザー）</span>
  </div>
  <p>お花の教室を開講して10年が経ちました。認知機能向上フラワーアレンジメントに出逢い、お花を通じて社会貢献（問題解決）につながると感じ、認知機能向上のフラワーアレンジメント（特許済）の指導者養成講座も開設しております。また、生徒さんの国家試験フラワー装飾技能士３級合格のサポート、メッシュへ十万円寄付など、自分にできることをコツコツ続けております。人生１００年時代と言われているこのご時世で、豊かに生きるお手伝いができれば幸いです。</p>
</div>