<!-- Strelitzia Start -->
<div id="StrelitziaOrdermade" class="strelitzia_service">
        <div class="nagare_header">
        ウェディングドレスオーダーメイド　ご注文の流れ<br>
        </div>
        <div class="nagare">
        １． お問い合わせ<br>
        </div>
        挙式・披露宴が決まりましたら、電話でお問い合わせください。無料相談の日程を調整します。質問などございましたら、お気軽にお尋ねください。<br>
        <div class="nagare">
        ２． ご来店・無料相談<br>
        </div>
        当工房で扱っているドレスをご覧いただいたり、ご希望のイメージなどをうかがいながら、デザインの打ち合わせと金額の見積もりを致します。ドレスのお写真や画像などがあればお持ちください。後日、ストレリチアから見積もりをご連絡いたします。<br>
        <div class="nagare">
        ３． デザイン打ち合わせ・採寸・申し込み・内金お支払い　６ヶ月前までに<br>
        </div>
        正式にお申込みいただき、見積金額の30％を内金としてお支払いいただきます。無料相談で打ち合わせをしたデザインをもとに、詳細なデザインの打ち合わせや生地の素材選びをします。お客様のサイズを採寸しますので、ブライダル下着をご持参ください。<br>
        <div class="nagare">
        ４． 仮縫い・1回目の試着　３～４ヶ月前<br>
        </div>
        工房へお越しいただき、1回目の試着をしてサイズの調整やイメージの確認をします。その際、ドレスは出来上がりの生地ではなく、シーチングという生地で作られています。事前に、ストレリチアからお客様へ連絡し、試着の日程を調整します。<br>
        <div class="nagare">
        ５． 本縫い・2回目の試着・手直し　　2ヶ月前<br>
        </div>
        実際にご注文いただいた生地で作られたドレスを試着し、修正箇所がないか確認します。事前にストレリチアからお客様へ連絡し、日程を調整します。<br>
        <div class="nagare">
        ６． 完成・納品・お支払い　2週間～1か月前<br>
        </div>
        最終確認としてドレスを試着し、手直しがなければ完成です。残りの金額をお支払いいただき、納品となります。 
</div>
<div id="StrelitziaRental" class="strelitzia_service">
        <div class="nagare_header">ウェディングドレス　レンタルの流れ<br></div>
        <div class="nagare">
        １． お問い合わせ<br>
        </div>
        挙式・披露宴が決まりましたら、電話でお問い合わせください。無料相談の日程を調整します。質問などございましたら、お気軽にお尋ねください。<br>
        <div class="nagare">
        ２． ご来店・無料相談<br>
        </div>
        当工房で取り扱っているドレスをご覧いただき、気に入ったドレスをご試着いただけます。<br>
        <div class="nagare">
        ３． 試着・申し込み・内金お支払い　　1か月前までに<br>
        </div>
        当工房で納得のいくドレスが見つかれば、正式にお申込みいただき、レンタル料金の30％を内金としてお支払いいただきます。この時点で、ご予約確定となります。ご予約いただいたドレスをご試着いただき、丈つめなどの補正の必要がないかを確認します。丈つめや補正に2週間ほどかかります。<br>
        <div class="nagare">
        ４． 試着・お支払い・レンタル　　　　2週間～1ヶ月前<br>
        </div>
        最終確認としてドレスを試着し、手直しがなければレンタル可能となります。残りの金額をお支払いいただき、レンタルとなります。<br>
        <div class="nagare">
        ５． 商品の返却　　　　式後1週間以内<br>
        </div>
        挙式・披露宴終了後、1週間以内に返却をお願いいたします。            
</div>
<div id="StrelitziaContent" class="strelitzia_service">
    <div class="StrelitziaHeading">💕オリジナルウェディングドレスのオーダーメイド・レンタル</div>
    <div class="StrelitziaText">お客様の好みのデザインをうかがい、一人ひとりの体型に合うドレスをオーダーメイド、または当工房で制作したオリジナルドレスをレンタルいたします。</div>
    <br>
    <div class="StrelitziaHeading">💕ブーケ・ブートニアの制作・販売</div>
    <div class="StrelitziaText">お客様からご注文を受け、当工房で制作したものを販売いたします。</div>
    <br>
    <div class="StrelitziaHeading">💕ドレスやブーケ制作の特別レッスン</div>
    <div class="StrelitziaText">ご自身の結婚式へ手作りドレスやブーケを取り入れたい方、ご家族やお友達へ手作りのドレスやブーケをプレゼントされたい方へ特別レッスンをいたします。</div>
    <br>
    <div class="StrelitziaHeading">💕ウェディングドレスのリメイク</div>
    <div class="StrelitziaText">お母さまが着られた思い出のウェディングドレスを、ご結婚される娘さんのためにリメイクしたり、お子様の発表会の衣装にリメイクいたします。クッションカバーやティッシュケースなどへのリメイクも可能です。</div>
    <br>
    <div class="StrelitziaHeading">💕ブライズメイドやグルームズマンの衣装に関する相談</div>
    <div class="StrelitziaText">洋裁を専門にしてきた当工房のこれまでの経験をいかし、ブライズメイド・グルームズマンの衣装に関するご相談も承ります。</div>
    <div id="StrelitziaOsusume">
            💕こんな方におススメ💕<br>
            ・シンプルできれいなドレスが着たい。<br>
            ・世界に1つ、自分だけのオリジナルドレスが着たい。<br>
            ・手作りのものを結婚式に取り入れたい。<br>
            ・オリジナルウェディングに、ご自身のドレス購入（又はレンタル）したい。<br>
            ・お母様やご家族の方が着られた思い出のドレスを、リメイクしてご自身のウェディングでも着たい。<br>
            ・袖付きのドレスが着たい。<br>
            ・自分の体型（サイズ）に合ったドレスが着たい。<br>            
    </div>
        <div class="StrelitziaHeading">
                <br>
            注文の内容やドレスのデザイン・生地の素材などににより料金が異なりますので、一度お気軽にお問い合わせください。
        </div>
</div>